<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="./">
                Aerie
            </a>
        </li>
        <% if(typeof isAuthenticated !== 'undefined'){ %>
            <li>
                <h5>Bienvenue <%= user.username.charAt(0).toUpperCase() + user.username.substring(1) %> !</h5>
            </li>
            <% if(user.rank > 0){ %>
            <li>
                <a href="./registry"><%=lng.REGISTRY_ANEKSI%></a>
            </li>
            <% } %> 
        <% } %>
        <li>
            <a href="https://shoop.aerie.fr" target="_blank"><%=lng.MOUVELIAN_CALENDAR%></a>
        </li>
        <li>
            <a class="<%=(lang=="fr"?"active":"")%>" href="<%=locals.active%>?clang=fr">Français</a>
        </li>
        <li>
            <a class="<%=(lang=="en"?"active":"")%>" href="<%=locals.active%>?clang=en">English</a>
        </li>
        <li>
            <div class="form-group">  
                <span class="switch switch-sm">
                    <input type="checkbox" class="switch" 
                    <% if(typeof cookies.nightmode !== 'undefined'){ %>checked<% } %> id="switchNightMode">
                    <label for="switchNightMode">
                        <a class="utility">
                            <i class="far fa-moon"></i>
                            <%=lng.NIGHT_MODE%>
                        </a>
                    </label>
                </span>
            </div>
        </li>
        <li>
            <% if(typeof isAuthenticated !== 'undefined'){ %>
                <a href="./logout"><%=lng.LOG_OUT%></a>
            <% } else { %>
                <a href="./login"><%=lng.LOG_IN%></a>
            <% } %>
        </li>
    </ul>
</div>
<a href="#menu-toggle" class="btn btn-dark mt-2 ml-2 fixed utility" id="menu-toggle"><i class="fas fa-bars"></i></a>
<!-- /#sidebar-wrapper -->