<section ng-controller="investigationCtrl as inVm">

    <a href="./" class="btn btn-primary mb-4">Retourner à la liste des enquêtes</a>
    <div class="jumbotron">
        <h1 class="display-3"><%=investigation.title%></h1>
        <p class="lead"><%=investigation.description%></p>
        <hr class="my-4">
        <p>Enquêteur chargé de l'enquête: <%=investigation.investigator%></p>
        <p>Enquête commencée le : <%=investigation.start%></p>
        <div class="row mb-1 align-items-center">
            <p class="col-md-3 display-5 pr-0">Avancement:</p>
            <div class="col-md-9 pl-0">
                <div class="progress" data-toggle="tooltip" data-tooltip-placement="top"
                    title="Oui c'est un peu bullshit pour l'instant. Je sais.">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" ng-class="inVm.investigation.status === 1?'w-50':'w-100'"></div>
                </div>
            </div>

        </div>
        <hr class="my-3">
        <a class="btn btn-primary btn-lg mr-2" href="#" role="button" data-toggle="modal"
            data-target="#newTestimonialModal">Ajouter un témoignage</a>
        <a class="btn btn-primary btn-lg mr-2" href="#" role="button" data-toggle="modal"
            data-target="#newProofModal">Ajouter une preuve</a>
        <a ng-show="inVm.investigation.status === 1"
            class="btn btn-success btn-lg <%=(investigation.status===1?"":"ng-hide")%>" href="#" role="button"
            ng-click="inVm.changeInvestigationStatus(2)">Clore l'enquête</a>
        <a ng-show="inVm.investigation.status === 2"
            class="btn btn-danger btn-lg <%=(investigation.status===1?"ng-hide":"")%>" href="#" role="button"
            ng-click="inVm.changeInvestigationStatus(1)">Rouvrir l'enquête</a>
    </div>
    <ul class="nav nav-pills mt-5 mb-2">
        <li class="nav-item">
            <a class="nav-link active" id="testimonials-tab" data-toggle="tab" href="#testimonials" role="tab"
                aria-controls="testimonials" aria-selected="true">Témoignages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="proofs-tab" data-toggle="tab" role="tab" href="#proofs"
                aria-controls="proofs">Preuves</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="testimonials" role="tabpanel" aria-labelledby="testimonials-tab">
            <div class="card-columns">
                <div class="card" ng-repeat="testimonial in inVm.testimonials">
                    <div class="card-body">
                        <h5 class="card-title">Déposition de {{testimonial.witness}}</h5>
                        <p class="card-text">
                            {{testimonial.description}}
                        </p>
                        <p class="card-text">
                            <small class="text-muted">Déposée le
                                {{testimonial.depositionDate | date:'dd/MM/yyyy à HH:mm'}}</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="proofs" role="tabpanel" aria-labelledby="proofs-tab">
            <div class="card-columns">
                <div class="card" ng-repeat="proof in inVm.proofs">
                    <div class="card-body">
                        <h5 class="card-title">{{proof.title}}</h5>
                        <p class="card-text">
                            {{proof.description}}
                        </p>
                        <p class="card-text">
                            <small class="text-muted">Découverte le
                                {{proof.discoveryDate | date:'dd/MM/yyyy à HH:mm'}}</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- TESTIMONIAL MODAL -->
        <div id="newTestimonialModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" ng-show="!inVm.editTestimonial">
                            <%= lng.ACTIONS.ADD+' '+lng.A_TESTIMONIAL %></h5>
                        <h5 class="modal-title" ng-show="inVm.editTestimonial">
                            <%= lng.ACTIONS.MODIFY+' '+lng.A_TESTIMONIAL %></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title"><%= lng.WITNESS_NAME %></label>
                            <input type="text" class="form-control" id="title" ng-model="inVm.newTestimonial.witness">
                        </div>
                        <div class="form-group">
                            <label for="description"><%= lng.DESCRIPTION %></label>
                            <textarea class="form-control" id="description" ng-model="inVm.newTestimonial.description">
                                        </textarea>
                        </div>
                        <div class="form-group">
                            <label for="title"><%= lng.DEPOSITION_DATEHOUR %></label>
                            <input type="datetime-local" class="form-control" id="title"
                                ng-model="inVm.newTestimonial.depositionDate">
                        </div>
                        <p ng-show="inVm.newTestimonial.error" class="alert alert-danger">
                            {{inVm.newTestimonial.error.message}}
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" ng-show="inVm.editTestimonial"
                            ng-click="inVm.deleteInvestigation()"><%= lng.ACTIONS.DELETE %></button>
                        <button type="button" class="btn btn-primary" ng-show="!inVm.editTestimonial"
                            ng-click="inVm.saveTestimonial()"><%= lng.ACTIONS.CREATE %></button>
                        <button type="button" class="btn btn-primary" ng-show="inVm.editTestimonial"
                            ng-click="inVm.saveTestimonial()"><%= lng.ACTIONS.MODIFY %></button>
                        <button type="button" class="btn btn-secondary"
                            data-dismiss="modal"><%= lng.ACTIONS.CLOSE %></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- PROOF MODAL -->

        <div id="newProofModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" ng-show="!inVm.editProof">
                            <%= lng.ACTIONS.ADD+' '+lng.A_PROOF %></h5>
                        <h5 class="modal-title" ng-show="inVm.editProof">
                            <%= lng.ACTIONS.MODIFY+' '+lng.A_PROOF %></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title"><%= lng.TITLE %></label>
                            <input type="text" class="form-control" id="title" ng-model="inVm.newProof.title">
                        </div>
                        <div class="form-group">
                            <label for="description"><%= lng.DESCRIPTION %></label>
                            <textarea class="form-control" id="description" ng-model="inVm.newProof.description">
                                            </textarea>
                        </div>
                        <div class="form-group">
                            <label for="dateStart"><%= lng.DISCOVERY_DATE %></label>
                            <input type="datetime-local" class="form-control" id="dateStart"
                                ng-model="inVm.newProof.discoveryDate">
                        </div>
                        <p ng-show="inVm.newProof.error" class="alert alert-danger">
                            {{inVm.newProof.error.message}}
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" ng-show="inVm.editProof"
                            ng-click="inVm.deleteInvestigation()"><%= lng.ACTIONS.DELETE %></button>
                        <button type="button" class="btn btn-primary" ng-show="!inVm.editProof"
                            ng-click="inVm.saveProof()"><%= lng.ACTIONS.CREATE %></button>
                        <button type="button" class="btn btn-primary" ng-show="inVm.editProof"
                            ng-click="inVm.saveProof()"><%= lng.ACTIONS.MODIFY %></button>
                        <button type="button" class="btn btn-secondary"
                            data-dismiss="modal"><%= lng.ACTIONS.CLOSE %></button>
                    </div>
                </div>
            </div>
        </div>
</section>
<%- contentFor('script') %>
<script src="/javascripts/investigation.js"></script>
<script>const investigationId = <%=investigation.id%>; investigationStatus = <%=investigation.status %>;</script>