<h1>
    <%=lng.REGISTRY_ANEKSI%>
</h1>
<section ng-controller="registryCtrl as regVm">
    <div class="row mt-1 mb-1 justify-content-end">
        <div class="col-md-3 col-md-offset-9">
            <input type="text" class="form-control form-control-sm" ng-model="regVm.searchValue" placeholder="Rechercher par canal, catégorie ou identifiant">
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr class="no-highlight hoverable">
            <th scope="col" ng-click="regVm.changeOrderBy('id')">
                <%=lng.CHANNEL_ID%>
                <i class="fas" ng-class="regVm.orderByIcon('id')?'fa-sort-down':'fa-sort-up' "></i>
            </th>
            <th scope="col" ng-click="regVm.changeOrderBy('name')">
                <%=lng.CHANNEL_NAME%>
                <i class="fas" ng-class="regVm.orderByIcon('name')?'fa-sort-down':'fa-sort-up' "></i>
            </th>
            <th scope="col" ng-click="regVm.changeOrderBy('category')">
                <%=lng.CATEGORY%>
                <i class="fas" ng-class="regVm.orderByIcon('category')?'fa-sort-down':'fa-sort-up' "></i>
            </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="channel in regVm.channels | filter:regVm.searchValue | orderBy:regVm.orderByValue:regVm.orderByReverse" ng-click="regVm.showInitialPost(channel.id)" class="hoverable">
                <td>{{channel.id}}</td>
                <td>{{channel.name}}</td>
                <td>{{channel.category}}</td>
            </tr>
        </tbody>
    </table>    
    <!-- Modal -->
    <div class="modal fade shadow" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="messageModalLabel">{{regVm.selectedChannel.category}} | {{regVm.selectedChannel.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group col-md-12">
                                <%=lng.AUTHOR%> : {{regVm.message.author.username}} <span class="badge badge-secondary small">{{regVm.message.author.tag}} </span>
                            <img class="rounded-circle" ng-src="{{regVm.message.author.avatarURL}}" style="max-width:64px; max-height: 64px;"/>
                        </div>
                        <div class="form-group">
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" id="pinMessage" ng-model="regVm.message.pinned" ng-change="regVm.pinPost()">
                                  <label class="form-check-label" for="pinMessage" >
                                        <%=lng.PIN_MESSAGE%> 
                                  </label>
                                </div>
                              </div>
                        <div class="form-group">
                            <label for="messageTextArea"><%=lng.MESSAGE_CONTENT%></label>
                            <textarea class="form-control" id="messageTextArea" rows="18" ng-model="regVm.message.content" maxlength="6000"></textarea>
                            <small>{{regVm.message.content.length}} <%=lng.CHARACTER_STRING%></small>
                        </div> 
                    </form> 
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-success col-md-12" role="alert" ng-show="regVm.messageEdited">
                                    <%=lng.MESSAGE_EDITED.SUCCESS%>
                            </div>
                            <div class="alert alert-danger col-md-12" role="alert" ng-show="regVm.messageError">
                                    {{regVm.messageErrorText}}
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><%=lng.CLOSE%></button>
                            <button type="button" class="btn btn-primary" ng-click="regVm.updateInitialPost()"><%=lng.UPDATE_CHARACTER_SHEET%></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    const bot_url = '<%- bot_url %>';
</script>
<%- contentFor('script') %>
<script src="/javascripts/registry.js"></script>
